<div class="search">
  <form action="//google.com/search" method="get" accept-charset="utf-8">
    <input type="hidden" name="site" value="site:<%- config.url.replace(/^https?:\/\//, '') %>">
    <input type="search" name="search" results="0" placeholder="<%= __('search') %>">
  </form>
</div>

<script>
  window.onload = function(){
    jQuery('input[type="search"]').keydown(function(e){
      if(e.keyCode == 13){
        window.location = "//google.com/search?q="+jQuery('input[name="site"]').val()+"+"+jQuery('input[name="search"]').val();
        return false;
      }
    });
  }
</script>